.map-container {
  width: 100% !important;
}
.search {
  width: 50%;
  margin-bottom: 5px;
}
.map {
  height: 305px;
  width: 100% !important;
}
.footer {
  --background: white;
}
ion-button.add-location:hover {
  --background: #28ba62;
}
.grid-item {
  margin-left: -8%;
}
.fsan-input {
  margin-left: 5.5% !important;
}
.location-details {
  margin-top: 4.5%;
}

ion-toast.success-toast {
  --background: #2dd36f;
  --color: #2dd36f;
}
.item-descriptor {
  margin-top: 3%;
}
.main-card {
  margin-top: 2%;
}

.cancel-btn:hover {
  --background: #cf3c4f;
}
.cancel-btn {
  --background: #ffc409;
}
