.heading-img {
  transform: scale(0.5);
}
.sub-menu:hover {
  border: 1px solid red;
  cursor: pointer;
}
.user-item {
  margin-top: 28px;
}
.user-item:hover {
  border: 1px solid #74c0fc;
  cursor: pointer;
}

.footer {
  font-size: 6px;
  color: #74c0fc;
}
ion-footer {
  color: #74c0fc;
}
.reject-order-btn {
  color: white;
}
