ion-textarea.custom-textarea {
  --background: #373737;
  --color: #fff;
  --padding-end: 10px;
  --padding-start: 10px;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;
}
.cancel-btn{
  --background: #eb445a;
  color: #FFF;

}
ion-btn.cancel-btn:hover{
  --background: green !important;
  // color: #FFF;

}
