ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
img {
  transform: scale(0.5);
  margin-left: 50%;
}
.review-item-count{
  text-align: center;

}
.review-description {
  text-align: center;
  font-size: 24px;

}


.toolbar:first-child{
  --background:#9bcfff;
}

.summary-card{
  // color: #9bcfff;
  --background:#e7f5ff;

}
.chart{
  position: relative;
  height:70vh;
   width:80vw;
   margin-left: 15%;
}

.service{
  width:100%;
   height:auto;
   position: absolute;
}
