<ion-header [translucent]="true">

  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
  </script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <img
        class="tool-bar-logo"
        src="https://assets-global.website-files.com/5d6513339093d78653c57dc3/5d6525f9437276d13240998e_CA_Logo.png"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="summary-card">
    <ion-card-header class="form-toolbar">
      <ion-toolbar class="toolbar">
        <ion-card-title>Statistics</ion-card-title>
      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>

      <div class="chart" >
        <canvas baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
</canvas>

    </div>

    </ion-card-content>
  </ion-card>


 <ion-row>
  <ion-col size="12">
    <div>
      <!-- <iframe [src]="finalUrl" frameborder="0"></iframe> -->

   </div>
  </ion-col>
 </ion-row>

</ion-content>

