.client-details-item{
margin-top:-10px ;
margin-bottom: 10px;
padding-top: 0px;}

h6{
  position: relative;
  padding-bottom: 0;
  font-size: 12px;
  z-index: 70000;
}
ion-list{
  margin-top: 8px;
}


