<ion-header>
  <ion-toolbar>
    <ion-title>Processing - {{selectedOrder.order_number}}</ion-title>
    <ion-buttons expand="block" fill="clear" slot="end">
      <ion-item lines="none" class="edit-action-buttons">
        <ion-button
          [disabled]="(orderForm.valid && !orderForm.touched) || (orderForm.touched && !orderForm.dirty) || (!orderForm.valid)"
          class="update-btn"
          fill="full"
          (click)="processOrder()"
        >
          <ion-icon slot="start" name="toggle"></ion-icon>
          Continue </ion-button
        ><ion-button class="cancel-btn" fill="full" (click)="cancel()">
          <ion-icon slot="start" name="close"></ion-icon>
          Cancel
        </ion-button>
      </ion-item>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form action="" [formGroup]="orderForm">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Name</ion-label>
                <ion-input formControlName="client_name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Surname</ion-label>
                <ion-input formControlName="client_surname"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">Contact</ion-label>
                <ion-input formControlName="contact_number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="stacked">E-mail</ion-label>
                <ion-input formControlName="client_email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!--
        <ion-row>
          <ion-col offset="1" size="6">
            <ion-item lines="none">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>Click to Add alternative contact
            </ion-item>
          </ion-col>
        </ion-row> -->
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
